.head
{
	width: 200px;
	margin: auto;
	font-size: 25px;
	padding: 10px;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	background-color:lightgrey;
	border-radius: 5px;
}
#head
{
	text-align: center;
	width: 100%;
}      
#form
{
	width: 200px;
	
	float: left;
}
#body
{
	margin-top:	50px;
	margin-right: auto;
	margin-left: auto;
}
#container
{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	padding: 10px;
	background-color: lightgrey;/*#49acec;*/
	border-radius: 5px;
}
a {text-decoration:none; border-color:yellow;}
img{float:left;}

/*p {color:blue;}*/